{{!-- Code Source: https://codepen.io/nicolaspavlotsky/pen/wqGgLO --}}

<link rel="stylesheet" href="stylesheets/homePage.css">

<div class="wrapper">
    {{!-- Title section --}}
    <h1>{{title}}</h1>
    <h5 class="container">
        Welcome to xStore – Your One-Stop Auto Shop! Discover a world of automotive excellence with a wide range of cars,
        top-notch tires, reliable batteries, and premium car accessories. We're your ultimate destination for all things
        automotive, where quality meets passion on the road of convenience
    </h5>
    {{!-- Splash page displaying options for user to view --}}
    <div class="cols">
        <div class="col-12 my-4" ontouchstart="this.classList.toggle('hover');">
            <a href="/cars">
                <div class="container">
                    <div class="front"
                        style="background-image: url(https://images.pexels.com/photos/395537/pexels-photo-395537.jpeg?auto=compress&cs=tinysrgb&w=600)">
                        <div class="inner">
                            <p>Cars</p>
                            <span>Love cars?</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Unleash Your Inner Adventurer! Our vehicles are more than just cars; they're your companions for daring exploration and unforgettable memories. Whether you're conquering city streets or venturing off the beaten path, trust our cars to accompany you on every exhilarating journey.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4 my-4" ontouchstart="this.classList.toggle('hover');">
            <a href="/batteries">
                <div class="container">
                    <div class="front"
                        style="background-image: url(https://plus.unsplash.com/premium_photo-1661771836121-9108a83875d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y2FyJTIwYmF0dGVyeXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60)">
                        <div class="inner">
                            <p>Batteries</p>
                            <span>Let's go for battery shopping!</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Ignite Confidence on the Road: Choose Longevity and Performance with Our Premium Car Batteries!</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-8 my-4" ontouchstart="this.classList.toggle('hover');">
            <a href="/accessories">
                <div class="container">
                    <div class="front"
                        style="background-image: url(https://media.istockphoto.com/id/160821689/photo/auto-parts.jpg?s=2048x2048&w=is&k=20&c=HTNeFvhZNGAY1rBiT0wqwxWuOZGS9WX4eQo5WpQ4yvY=)">
                        <div class="inner">
                            <p>Accessories</p>
                            <span>Check them out!</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Revamp, Refresh, Reimagine: Discover the Ultimate Car Accessories Collection</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 my-4" ontouchstart="this.classList.toggle('hover');">
            <a href="/tires">
                <div class="container">
                    <div class="front"
                        style="background-image: url(https://images.pexels.com/photos/1301410/pexels-photo-1301410.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
                        <div class="inner">
                            <p>Tires</p>
                            <span>Have a Look!</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Elevate your driving experience with our premium car tires, meticulously engineered to conquer every road. From smooth city streets to challenging off-road terrains, our tires provide the perfect balance of performance, safety, and durability, ensuring you're in control no matter where you go.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>